[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0

# Galera Provider Configuration
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so

# Galera Cluster Configuration
wsrep_cluster_name="db"
wsrep_cluster_address="gcomm://{{ dbs_ip | dict2items | json_query('[*].key') | join(',') }}"

# Galera Synchronization Configuration
wsrep_sst_method=rsync

# Galera Node Configuration
wsrep_node_address="{{ dbs_ip[ansible_hostname] }}"
wsrep_node_name="{{ ansible_hostname }}"
